goldmark:
  renderer:
    unsafe: true
  extensions:
    extras:
      insert:
        enable: true
      mark:
        enable: true
      subscript:
        enable: true
      superscript:
        enable: true