{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty block found. Consider creating a 'content/blocks/contact.md' file." -}}
    {{- with page.Site.GetPage "blocks/contact.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}
<section class="contact py-xl-3xl">
    <div class="wrapper switcher">
        <div>
            <div class="box">
                {{- partial "form.html" (index page.Site.Data page.Site.Language.Lang).contactform -}}
            </div>
        </div>
        <div class="text">
            {{- markdownify $inner -}}
        </div>
    </div>
</section>