{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty block found. Consider creating a 'content/blocks/image.md' file." -}}
    {{- with page.Site.GetPage "blocks/image.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}

{{ $inner = markdownify $inner }}
{{ $image := index (findRE `(?s)<p><img.*?p>` $inner 1) 0 }}
{{ $inner = replace $inner $image "" 1 }}

<section class="text-image py-xl-3xl">
    <div class="wrapper switcher ai--center">
        <div class="text">
            <div>{{ $inner | safeHTML }}</div>
        </div>
        <div class="image">
            <div>{{- $image | safeHTML -}}</div>
        </div>
    </div>
</section>