// -----------------------------------------------------------------------------
// Color(s)
// -----------------------------------------------------------------------------

// White 
$-clr-white: oklch(100% 0 0);

// Black 
$-clr-black: oklch(0% 0 0);

// Slate 
$-clr-slate-50: oklch(98.42% 0.0034 247.86);
$-clr-slate-100: oklch(96.83% 0.0069 247.9);
$-clr-slate-200: oklch(92.88% 0.0126 255.51);
$-clr-slate-300: oklch(86.9% 0.0198 252.89);
$-clr-slate-400: oklch(71.07% 0.0351 256.79);
$-clr-slate-500: oklch(55.44% 0.0407 257.42);
$-clr-slate-600: oklch(44.55% 0.0374 257.28);
$-clr-slate-700: oklch(37.17% 0.0392 257.29);
$-clr-slate-800: oklch(27.95% 0.0368 260.03);
$-clr-slate-900: oklch(20.77% 0.0398 265.75);
$-clr-slate-950: oklch(12.88% 0.0406 264.7);

// Gray 
$-clr-gray-50: oklch(98.46% 0.0017 247.84);
$-clr-gray-100: oklch(96.7% 0.0029 264.54);
$-clr-gray-200: oklch(92.76% 0.0058 264.53);
$-clr-gray-300: oklch(87.17% 0.0093 258.34);
$-clr-gray-400: oklch(71.37% 0.0192 261.32);
$-clr-gray-500: oklch(55.1% 0.0234 264.36);
$-clr-gray-600: oklch(55.1% 0.0234 264.36);
$-clr-gray-700: oklch(37.29% 0.0306 259.73);
$-clr-gray-800: oklch(27.81% 0.0296 256.85);
$-clr-gray-900: oklch(21.01% 0.0318 264.66);
$-clr-gray-950: oklch(12.96% 0.0274 261.69);

// Zinc 
$-clr-zinc-50: oklch(98.51% 0 0);
$-clr-zinc-100: oklch(96.74% 0.0013 286.38);
$-clr-zinc-200: oklch(91.97% 0.004 286.32);
$-clr-zinc-300: oklch(87.11% 0.0055 286.29);
$-clr-zinc-400: oklch(71.18% 0.0129 286.07);
$-clr-zinc-500: oklch(55.17% 0.0138 285.94);
$-clr-zinc-600: oklch(44.19% 0.0146 285.79);
$-clr-zinc-700: oklch(37.03% 0.0119 285.81);
$-clr-zinc-800: oklch(27.39% 0.0055 286.03);
$-clr-zinc-900: oklch(21.03% 0.0059 285.89);
$-clr-zinc-950: oklch(14.08% 0.0044 285.82);

// Neutral 
$-clr-neutral-50: oklch(98.51% 0 0);
$-clr-neutral-100: oklch(97.02% 0 0);
$-clr-neutral-200: oklch(92.19% 0 0);
$-clr-neutral-300: oklch(86.99% 0 0);
$-clr-neutral-400: oklch(71.55% 0 0);
$-clr-neutral-500: oklch(55.55% 0 0);
$-clr-neutral-600: oklch(43.86% 0 0);
$-clr-neutral-700: oklch(37.15% 0 0);
$-clr-neutral-800: oklch(26.86% 0 0);
$-clr-neutral-900: oklch(20.46% 0 0);
$-clr-neutral-950: oklch(14.48% 0 0);

// Stone 
$-clr-stone-50: oklch(98.48% 0.0013 106.42);
$-clr-stone-100: oklch(96.99% 0.0013 106.42);
$-clr-stone-200: oklch(92.32% 0.0026 48.72);
$-clr-stone-300: oklch(86.87% 0.0043 56.37);
$-clr-stone-400: oklch(71.61% 0.0091 56.26);
$-clr-stone-500: oklch(55.34% 0.0116 58.07);
$-clr-stone-600: oklch(44.44% 0.0096 73.64);
$-clr-stone-700: oklch(37.41% 0.0087 67.56);
$-clr-stone-800: oklch(26.85% 0.0063 34.3);
$-clr-stone-900: oklch(21.61% 0.0061 56.04);
$-clr-stone-950: oklch(14.69% 0.0041 49.25);

// Red 
$-clr-red-50: oklch(97.05% 0.0129 17.38);
$-clr-red-100: oklch(93.56% 0.0309 17.72);
$-clr-red-200: oklch(88.45% 0.0593 18.33);
$-clr-red-300: oklch(80.77% 0.1035 19.57);
$-clr-red-400: oklch(71.06% 0.1661 22.22);
$-clr-red-500: oklch(63.68% 0.2078 25.33);
$-clr-red-600: oklch(57.71% 0.2152 27.33);
$-clr-red-700: oklch(50.54% 0.1905 27.52);
$-clr-red-800: oklch(44.37% 0.1613 26.9);
$-clr-red-900: oklch(39.58% 0.1331 25.72);
$-clr-red-950: oklch(25.75% 0.0886 26.04);

// Orange 
$-clr-orange-50: oklch(97.96% 0.015771618519989913 73.68407794443895);
$-clr-orange-100: oklch(95.42% 0.03715446392304164 75.16435946755645);
$-clr-orange-200: oklch(90.15% 0.0729 70.7);
$-clr-orange-300: oklch(83.66% 0.1165 66.29);
$-clr-orange-400: oklch(75.76% 0.159 55.93);
$-clr-orange-500: oklch(70.49% 0.1867 47.6);
$-clr-orange-600: oklch(64.61% 0.1943 41.12);
$-clr-orange-700: oklch(55.34% 0.1739 38.4);
$-clr-orange-800: oklch(46.98% 0.143 37.3);
$-clr-orange-900: oklch(40.84% 0.1165 38.17);
$-clr-orange-950: oklch(26.59% 0.0762 36.26);

// Amber 
$-clr-amber-50: oklch(98.69% 0.021403008259500936 95.27742336745216);
$-clr-amber-100: oklch(96.19% 0.058 95.62);
$-clr-amber-200: oklch(92.43% 0.1151 95.75);
$-clr-amber-300: oklch(87.9% 0.1534 91.61);
$-clr-amber-400: oklch(83.69% 0.1644 84.43);
$-clr-amber-500: oklch(76.86% 0.1647 70.08);
$-clr-amber-600: oklch(66.58% 0.1574 58.32);
$-clr-amber-700: oklch(55.53% 0.1455 49);
$-clr-amber-800: oklch(47.32% 0.1247 46.2);
$-clr-amber-900: oklch(41.37% 0.1054 45.9);
$-clr-amber-950: oklch(27.91% 0.0742 45.64);

// Yellow 
$-clr-yellow-50: oklch(98.73% 0.0262 102.21);
$-clr-yellow-100: oklch(97.29% 0.0693 103.19);
$-clr-yellow-200: oklch(94.51% 0.1243 101.54);
$-clr-yellow-300: oklch(90.52% 0.1657 98.11);
$-clr-yellow-400: oklch(86.06% 0.1731 91.94);
$-clr-yellow-500: oklch(79.52% 0.1617 86.05);
$-clr-yellow-600: oklch(68.06% 0.1423 75.83);
$-clr-yellow-700: oklch(55.38% 0.1207 66.44);
$-clr-yellow-800: oklch(47.62% 0.1034 61.91);
$-clr-yellow-900: oklch(42.1% 0.0897 57.71);
$-clr-yellow-950: oklch(28.57% 0.0639 53.81);

// Lime 
$-clr-lime-50: oklch(98.57% 0.031 120.76);
$-clr-lime-100: oklch(96.69% 0.0659 122.33);
$-clr-lime-200: oklch(93.82% 0.1217 124.32);
$-clr-lime-300: oklch(89.72% 0.1786 126.67);
$-clr-lime-400: oklch(84.93% 0.2073 128.85);
$-clr-lime-500: oklch(76.81% 0.2044 130.85);
$-clr-lime-600: oklch(64.82% 0.1754 131.68);
$-clr-lime-700: oklch(53.22% 0.1405 131.59);
$-clr-lime-800: oklch(45.28% 0.1129 130.93);
$-clr-lime-900: oklch(40.5% 0.0956 131.06);
$-clr-lime-950: oklch(27.41% 0.0688 132.11);

// Green 
$-clr-green-50: oklch(98.19% 0.0181 155.83);
$-clr-green-100: oklch(96.24% 0.0434 156.74);
$-clr-green-200: oklch(92.5% 0.0806 155.99);
$-clr-green-300: oklch(87.12% 0.1363 154.45);
$-clr-green-400: oklch(80.03% 0.1821 151.71);
$-clr-green-500: oklch(72.27% 0.192 149.58);
$-clr-green-600: oklch(62.71% 0.1699 149.21);
$-clr-green-700: oklch(52.73% 0.1371 150.07);
$-clr-green-800: oklch(44.79% 0.1083 151.33);
$-clr-green-900: oklch(39.25% 0.0896 152.54);
$-clr-green-950: oklch(26.64% 0.0628 152.93);

// Emerald 
$-clr-emerald-50: oklch(97.93% 0.0207 166.11);
$-clr-emerald-100: oklch(95.05% 0.0507 163.05);
$-clr-emerald-200: oklch(90.49% 0.0895 164.15);
$-clr-emerald-300: oklch(84.52% 0.1299 164.98);
$-clr-emerald-400: oklch(77.29% 0.1535 163.22);
$-clr-emerald-500: oklch(69.59% 0.1491 162.48);
$-clr-emerald-600: oklch(59.6% 0.1274 163.23);
$-clr-emerald-700: oklch(50.81% 0.1049 165.61);
$-clr-emerald-800: oklch(43.18% 0.0865 166.91);
$-clr-emerald-900: oklch(37.8% 0.073 168.94);
$-clr-emerald-950: oklch(26.21% 0.0487 172.55);

// Teal 
$-clr-teal-50: oklch(98.36% 0.0142 180.72);
$-clr-teal-100: oklch(95.27% 0.0498 180.8);
$-clr-teal-200: oklch(91% 0.0927 180.43);
$-clr-teal-300: oklch(85.49% 0.1251 181.07);
$-clr-teal-400: oklch(78.45% 0.1325 181.91);
$-clr-teal-500: oklch(70.38% 0.123 182.5);
$-clr-teal-600: oklch(60.02% 0.1038 184.7);
$-clr-teal-700: oklch(51.09% 0.0861 186.39);
$-clr-teal-800: oklch(43.7% 0.0705 188.22);
$-clr-teal-900: oklch(38.61% 0.059 188.42);
$-clr-teal-950: oklch(27.73% 0.0447 192.52);

// Cyan 
$-clr-cyan-50: oklch(98.41% 0.0189 200.87);
$-clr-cyan-100: oklch(95.63% 0.0443 203.39);
$-clr-cyan-200: oklch(91.67% 0.0772 205.04);
$-clr-cyan-300: oklch(86.51% 0.1153 207.08);
$-clr-cyan-400: oklch(79.71% 0.1339 211.53);
$-clr-cyan-500: oklch(71.48% 0.1257 215.22);
$-clr-cyan-600: oklch(60.89% 0.1109 221.72);
$-clr-cyan-700: oklch(51.98% 0.0936 223.13);
$-clr-cyan-800: oklch(45% 0.0771 224.28);
$-clr-cyan-900: oklch(39.82% 0.0664 227.39);
$-clr-cyan-950: oklch(30.18% 0.0541 229.7);

// Sky 
$-clr-sky-50: oklch(97.71% 0.012485946526696063 236.61974498403976);
$-clr-sky-100: oklch(95.14% 0.025 236.82);
$-clr-sky-200: oklch(90.14% 0.0555 230.9);
$-clr-sky-300: oklch(82.76% 0.1013 230.32);
$-clr-sky-400: oklch(75.35% 0.139 232.66);
$-clr-sky-500: oklch(68.47% 0.1479 237.32);
$-clr-sky-600: oklch(58.76% 0.1389 241.97);
$-clr-sky-700: oklch(50% 0.1193 242.75);
$-clr-sky-800: oklch(44.34% 0.1 240.79);
$-clr-sky-900: oklch(39.12% 0.0845 240.88);
$-clr-sky-950: oklch(29.35% 0.0632 243.16);

// Blue 
$-clr-blue-50: oklch(97.05% 0.01418224665972208 254.6041641690868);
$-clr-blue-100: oklch(93.19% 0.0316 255.59);
$-clr-blue-200: oklch(88.23% 0.0571 254.13);
$-clr-blue-300: oklch(80.91% 0.0956 251.81);
$-clr-blue-400: oklch(71.37% 0.1434 254.62);
$-clr-blue-500: oklch(62.31% 0.188 259.81);
$-clr-blue-600: oklch(54.61% 0.2152 262.88);
$-clr-blue-700: oklch(48.82% 0.2172 264.38);
$-clr-blue-800: oklch(42.44% 0.1809 265.64);
$-clr-blue-900: oklch(37.91% 0.1378 265.52);
$-clr-blue-950: oklch(28.23% 0.0874 267.94);

// Indigo 
$-clr-indigo-50: oklch(96.19% 0.0179 272.31);
$-clr-indigo-100: oklch(92.99% 0.0334 272.79);
$-clr-indigo-200: oklch(86.99% 0.0622 274.04);
$-clr-indigo-300: oklch(78.53% 0.1041 274.71);
$-clr-indigo-400: oklch(68.01% 0.1583 276.93);
$-clr-indigo-500: oklch(58.54% 0.2041 277.12);
$-clr-indigo-600: oklch(51.06% 0.2301 276.97);
$-clr-indigo-700: oklch(45.68% 0.2146 277.02);
$-clr-indigo-800: oklch(39.84% 0.1773 277.37);
$-clr-indigo-900: oklch(35.88% 0.1354 278.7);
$-clr-indigo-950: oklch(25.73% 0.0861 281.29);

// Violet 
$-clr-violet-50: oklch(96.19% 0.0179 272.31);
$-clr-violet-100: oklch(94.33% 0.0284 294.59);
$-clr-violet-200: oklch(89.43% 0.0549 293.28);
$-clr-violet-300: oklch(81.12% 0.1013 293.57);
$-clr-violet-400: oklch(70.9% 0.1592 293.54);
$-clr-violet-500: oklch(60.56% 0.2189 292.72);
$-clr-violet-600: oklch(54.13% 0.2466 293.01);
$-clr-violet-700: oklch(49.07% 0.2412 292.58);
$-clr-violet-800: oklch(43.2% 0.2106 292.76);
$-clr-violet-900: oklch(37.96% 0.1783 293.74);
$-clr-violet-950: oklch(28.27% 0.1351 291.09);

// Purple 
$-clr-purple-50: oklch(97.68% 0.0142 308.3);
$-clr-purple-100: oklch(94.64% 0.0327 307.17);
$-clr-purple-200: oklch(90.24% 0.06040838720918992 306.7029975247675);
$-clr-purple-300: oklch(82.68% 0.1082 306.38);
$-clr-purple-400: oklch(72.17% 0.1767 305.5);
$-clr-purple-500: oklch(62.68% 0.2325 303.9);
$-clr-purple-600: oklch(55.75% 0.2525 302.32);
$-clr-purple-700: oklch(49.55% 0.2369 301.92);
$-clr-purple-800: oklch(43.83% 0.1983 303.72);
$-clr-purple-900: oklch(38.07% 0.1661 304.99);
$-clr-purple-950: oklch(29.05% 0.1432 302.72);

// Fuchsia 
$-clr-fuchsia-50: oklch(97.73% 0.017319799618005262 320.057924702978);
$-clr-fuchsia-100: oklch(95.2% 0.035966474160176905 318.851883433472);
$-clr-fuchsia-200: oklch(90.3% 0.0732 319.62);
$-clr-fuchsia-300: oklch(83.3% 0.1322 321.43);
$-clr-fuchsia-400: oklch(74.77% 0.207 322.16);
$-clr-fuchsia-500: oklch(66.68% 0.2591 322.15);
$-clr-fuchsia-600: oklch(59.15% 0.2569 322.9);
$-clr-fuchsia-700: oklch(51.8% 0.2258 323.95);
$-clr-fuchsia-800: oklch(45.19% 0.1922 324.59);
$-clr-fuchsia-900: oklch(40.07% 0.1601 325.61);
$-clr-fuchsia-950: oklch(29.32% 0.1309 325.66);

// Pink 
$-clr-pink-50: oklch(97.14% 0.0141 343.2);
$-clr-pink-100: oklch(94.82% 0.0276 342.26);
$-clr-pink-200: oklch(89.94% 0.0589 343.23);
$-clr-pink-300: oklch(82.28% 0.1095 346.02);
$-clr-pink-400: oklch(72.53% 0.1752 349.76);
$-clr-pink-500: oklch(65.59% 0.2118 354.31);
$-clr-pink-600: oklch(59.16% 0.218 0.58);
$-clr-pink-700: oklch(52.46% 0.199 3.96);
$-clr-pink-800: oklch(45.87% 0.1697 3.82);
$-clr-pink-900: oklch(40.78% 0.1442 2.43);
$-clr-pink-950: oklch(28.45% 0.1048 3.91);

// Rose 
$-clr-rose-50: oklch(96.94% 0.0151 12.42);
$-clr-rose-100: oklch(94.14% 0.0297 12.58);
$-clr-rose-200: oklch(89.24% 0.0559 10);
$-clr-rose-300: oklch(80.97% 0.1061 11.64);
$-clr-rose-400: oklch(71.92% 0.169 13.43);
$-clr-rose-500: oklch(64.5% 0.2154 16.44);
$-clr-rose-600: oklch(58.58% 0.222 17.58);
$-clr-rose-700: oklch(51.43% 0.1978 16.93);
$-clr-rose-800: oklch(45.46% 0.1713 13.7);
$-clr-rose-900: oklch(41.03% 0.1502 10.27);
$-clr-rose-950: oklch(27.08% 0.1009 12.09);


// -----------------------------------------------------------------------------
// Theme
// -----------------------------------------------------------------------------

$light: (
    "neutral": (
        "0": $-clr-white,
        "50": $-clr-neutral-50,
        "100": $-clr-neutral-100,
        "200": $-clr-neutral-200,
        "300": $-clr-neutral-300,
        "400": $-clr-neutral-400,
        "500": $-clr-neutral-500,
        "600": $-clr-neutral-600,
        "700": $-clr-neutral-700,
        "800": $-clr-neutral-800,
        "900": $-clr-neutral-900,
        "950": $-clr-neutral-950,
    ),
    "primary": (
        "50": $-clr-blue-50,
        "100": $-clr-blue-100,
        "200": $-clr-blue-200,
        "300": $-clr-blue-300,
        "400": $-clr-blue-400,
        "500": $-clr-blue-500,
        "600": $-clr-blue-600,
        "700": $-clr-blue-700,
        "800": $-clr-blue-800,
        "900": $-clr-blue-900,
        "950": $-clr-blue-950,
    ),
    "accent": (
        "50": $-clr-orange-50,
        "100": $-clr-orange-100,
        "200": $-clr-orange-200,
        "300": $-clr-orange-300,
        "400": $-clr-orange-400,
        "500": $-clr-orange-500,
        "600": $-clr-orange-600,
        "700": $-clr-orange-700,
        "800": $-clr-orange-800,
        "900": $-clr-orange-900,
        "950": $-clr-orange-950,
    ),
);