@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/Nunito-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}

// -----------------------------------------------------------------------------
// Font Family
// -----------------------------------------------------------------------------

$-ff-heading: "Raleway";
$-ff-sans: "Nunito Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$-ff-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$-ff-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-families: (
    "heading": $-ff-heading,
    "sans": $-ff-sans,
    "serif": $-ff-serif,
    "mono": $-ff-mono,
);


// -----------------------------------------------------------------------------
// Typescale
// -----------------------------------------------------------------------------

$font-sizes: (
    "step--2": clamp(0.6944rem, 0.6513rem + 0.1919vw, 0.8rem),
    "step--1": clamp(0.8333rem, 0.7652rem + 0.303vw, 1rem),
    "step-0": clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem),
    "step-1": clamp(1.2rem, 1.0517rem + 0.6591vw, 1.5625rem),
    "step-2": clamp(1.44rem, 1.2301rem + 0.933vw, 1.9531rem),
    "step-3": clamp(1.728rem, 1.4362rem + 1.2971vw, 2.4414rem),
    "step-4": clamp(2.0736rem, 1.6734rem + 1.7785vw, 3.0518rem),
    "step-5": clamp(2.4883rem, 1.9457rem + 2.4116vw, 3.8147rem),
);



// -----------------------------------------------------------------------------
// Font weights
// -----------------------------------------------------------------------------

$font-weights: (
    "thin": 100,
    "extralight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900,
);